@model WebApplication2rrr.Models.Phone
@{
    ViewData["Title"] = "Список смартфонов";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Страница оформления покупки</h3>
    <p>Модель телефона: @Model.Name</p>
    <p>Итоговая цена: @Model.Price</p>
    <form method="post" action="@Url.Action("PostBuy", "Buy")">
        <input type="text" placeholder="адрес" name="address"/>
        <input type="submit" value="Купить"/>
    </form>
</body>
</html>